DATA FRAMES

In [5]:
# Import convention
import numpy as np 
import pandas as pd

In [6]:
# Create numpy array or list
#seed function used to store random integers so that after running the cell again the data wont change.
np.random.seed(100) 
arr = np.random.randint(0,100,(5,3))
arr

array([[ 8, 24, 67],
       [87, 79, 48],
       [10, 94, 52],
       [98, 53, 66],
       [98, 14, 34]])

In [7]:
# create data frame fromm the array. Row ans column indexes are genrated from 0,1,.....
df = pd.DataFrame(arr)
df

    0   1   2
0   8  24  67
1  87  79  48
2  10  94  52
3  98  53  66
4  98  14  34

In [8]:
type(df)

pandas.core.frame.DataFrame

In [9]:
row_names = ['mon','tue','wed','thurs','fri']
coloumn_names = ['jan','feb','mar']

In [11]:
df = pd.DataFrame(arr,index=row_names,columns=coloumn_names)
df

       jan  feb  mar
mon      8   24   67
tue     87   79   48
wed     10   94   52
thurs   98   53   66
fri     98   14   34

In [26]:
# How to create data frame from dictionary
my_dict = {
    'jan' : [1,2,3,4,5],
    'feb' : [10,20,30,40,50],
    'mar' : [15,25,35,45,55]
}
df = pd.DataFrame(my_dict,index=row_names)
df

       jan  feb  mar
mon      1   10   15
tue      2   20   25
wed      3   30   35
thurs    4   40   45
fri      5   50   55

READING DATA FROM FILES

In [27]:
df  = pd.read_csv('/home/gokku/My codes/csv files/ToothGrowth.csv')

In [28]:
df

     len supp  dose
0    4.2   VC   0.5
1   11.5   VC   0.5
2    7.3   VC   0.5
3    5.8   VC   0.5
4    6.4   VC   0.5
5   10.0   VC   0.5
6   11.2   VC   0.5
7   11.2   VC   0.5
8    5.2   VC   0.5
9    7.0   VC   0.5
10  16.5   VC   1.0
11  16.5   VC   1.0
12  15.2   VC   1.0
13  17.3   VC   1.0
14  22.5   VC   1.0
15  17.3   VC   1.0
16  13.6   VC   1.0
17  14.5   VC   1.0
18  18.8   VC   1.0
19  15.5   VC   1.0
20  23.6   VC   2.0
21  18.5   VC   2.0
22  33.9   VC   2.0
23  25.5   VC   2.0
24  26.4   VC   2.0
25  32.5   VC   2.0
26  26.7   VC   2.0
27  21.5   VC   2.0
28  23.3   VC   2.0
29  29.5   VC   2.0
30  15.2   OJ   0.5
31  21.5   OJ   0.5
32  17.6   OJ   0.5
33   9.7   OJ   0.5
34  14.5   OJ   0.5
35  10.0   OJ   0.5
36   8.2   OJ   0.5
37   9.4   OJ   0.5
38  16.5   OJ   0.5
39   9.7   OJ   0.5
40  19.7   OJ   1.0
41  23.3   OJ   1.0
42  23.6   OJ   1.0
43  26.4   OJ   1.0
44  20.0   OJ   1.0
45  25.2   OJ   1.0
46  25.8   OJ   1.0
47  21.2   OJ   1.0
48  14.5   OJ   1.0
49  27.3   OJ   1.0
50  25.5   OJ   2.0
51  26.4   OJ   2.0
52  22.4   OJ   2.0
53  24.5   OJ   2.0
54  24.8   OJ   2.0
55  30.9   OJ   2.0
56  26.4   OJ   2.0
57  27.3   OJ   2.0
58  29.4   OJ   2.0
59  23.0   OJ   2.0

In [35]:
# To see top 5 rows use df.head() , likewise use df.tail() to see bottom 5
df.head()

    len supp  dose
0   4.2   VC   0.5
1  11.5   VC   0.5
2   7.3   VC   0.5
3   5.8   VC   0.5
4   6.4   VC   0.5

In [30]:
df.tail()

     len supp  dose
55  30.9   OJ   2.0
56  26.4   OJ   2.0
57  27.3   OJ   2.0
58  29.4   OJ   2.0
59  23.0   OJ   2.0

In [31]:
df.shape

(60, 3)

In [49]:
# To get the the data frame as a numpy arr use .values attributes
df.values

In [36]:
# we can import data from text files as well, but mention the seperator correctly
df = pd.read_table('/home/gokku/My codes/csv files/ToothGrowth.csv',sep = ',')
df.head()

    len supp  dose
0   4.2   VC   0.5
1  11.5   VC   0.5
2   7.3   VC   0.5
3   5.8   VC   0.5
4   6.4   VC   0.5

In [47]:
index = [1,2,3,4,5]
col1 = list('abcde')
col2 = list('pqrst')
arr = np.array((col1,col2)).reshape(2,5) 
row_names = ['col1','col2']
df = pd.DataFrame(arr,index=row_names,columns=index)
df

      1  2  3  4  5
col1  a  b  c  d  e
col2  p  q  r  s  t

In [48]:
lst = [["Bunny",25],["Sunny",30],
       ["hunny",35],["funny",40]]
coloumn_names = ['name' , ' age']
df = pd.DataFrame(lst,columns= coloumn_names)
df

    name   age
0  Bunny    25
1  Sunny    30
2  hunny    35
3  funny    40

SERIES

A `Series` is a type that is used to store one column only. You can think of a Series as one column of a `DataFrame` extracted.

Series is very similar to a NumPy array, with a main difference that it has an index label for each observation.

In [54]:
np.random.seed(100)
df = pd.DataFrame(np.random.randint(1,100,(5,4)),columns= list('abcd'))
df

    a   b   c   d
0   9  25  68  88
1  80  49  11  95
2  53  99  54  67
3  99  15  35  25
4  16  61  59  17

In [55]:
df['a']

0     9
1    80
2    53
3    99
4    16
Name: a, dtype: int64

In [56]:
type(df['a'])

pandas.core.series.Series

In [57]:
df['a'][:3].values

array([ 9, 80, 53])

In [58]:
df['a'][:3].values.tolist()

[9, 80, 53]

In [64]:
data = np.arange(10)
index = ['a','b','c','d','e','f','g','h','i','j']
ser = pd.Series(data=data,name='numbers')#name is optional
ser

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
Name: numbers, dtype: int64

In [65]:
ser = pd.Series(data=data,index=index,name='numbers')
ser

a    0
b    1
c    2
d    3
e    4
f    5
g    6
h    7
i    8
j    9
Name: numbers, dtype: int64

In [66]:
type(ser)

pandas.core.series.Series

In [68]:
ser*2

a     0
b     2
c     4
d     6
e     8
f    10
g    12
h    14
i    16
j    18
Name: numbers, dtype: int64

EXTRACT ITEMS

In [69]:
ser['b']

1

In [70]:
ser[['a','b']]

a    0
b    1
Name: numbers, dtype: int64

In [71]:
ser.index

Index(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'], dtype='object')

In [73]:
ser.keys()

Index(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'], dtype='object')

In [74]:
#Create series from dictionary
d1 = {'a':0,'b':1,'c':2}
d2 = {'b':0,'c':1,'d':2}
ser1 = pd.Series(d1)
ser2 = pd.Series(d2)
ser1

a    0
b    1
c    2
dtype: int64

In [75]:
ser2

b    0
c    1
d    2
dtype: int64

In [76]:
ser1+ser2

a    NaN
b    1.0
c    3.0
d    NaN
dtype: float64

In [77]:
ser1.add(ser2,fill_value=0)

a    0.0
b    1.0
c    3.0
d    2.0
dtype: float64