


INSPECTING A DATA FRAME

In [54]:
import numpy as np
import pandas as pd

In [55]:
df = pd.read_csv('/home/gokku/My codes/csv files/Churn.csv')

In [56]:
df

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,AZ,192,415,414-4276,no,yes,36,156.2,77,26.55,...,126,18.32,279.1,83,12.56,9.9,6,2.67,2,False
3329,WV,68,415,370-3271,no,no,0,231.1,57,39.29,...,55,13.04,191.3,123,8.61,9.6,4,2.59,3,False
3330,RI,28,510,328-8230,no,no,0,180.8,109,30.74,...,58,24.55,191.9,91,8.64,14.1,6,3.81,2,False
3331,CT,184,510,364-6381,yes,no,0,213.8,105,36.35,...,84,13.57,139.2,137,6.26,5.0,10,1.35,2,False
3332,TN,74,415,400-4344,no,yes,25,234.4,113,39.85,...,82,22.60,241.4,77,10.86,13.7,4,3.70,0,False

In [57]:
df.shape

(3333, 21)

In [58]:
len(df)

3333

In [59]:
df.head(10)

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False
5,AL,118,510,391-8027,yes,no,0,223.4,98,37.98,...,101,18.75,203.9,118,9.18,6.3,6,1.70,0,False
6,MA,121,510,355-9993,no,yes,24,218.2,88,37.09,...,108,29.62,212.6,118,9.57,7.5,7,2.03,3,False
7,MO,147,415,329-9001,yes,no,0,157.0,79,26.69,...,94,8.76,211.8,96,9.53,7.1,6,1.92,0,False
8,LA,117,408,335-4719,no,no,0,184.5,97,31.37,...,80,29.89,215.8,90,9.71,8.7,4,2.35,1,False
9,WV,141,415,330-8173,yes,yes,37,258.6,84,43.96,...,111,18.87,326.4,97,14.69,11.2,5,3.02,0,False

In [60]:
df.tail(7)

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
3326,OH,96,415,347-6812,no,no,0,106.6,128,18.12,...,87,24.21,178.9,92,8.05,14.9,7,4.02,1,False
3327,SC,79,415,348-3830,no,no,0,134.7,98,22.90,...,68,16.12,221.4,128,9.96,11.8,5,3.19,2,False
3328,AZ,192,415,414-4276,no,yes,36,156.2,77,26.55,...,126,18.32,279.1,83,12.56,9.9,6,2.67,2,False
3329,WV,68,415,370-3271,no,no,0,231.1,57,39.29,...,55,13.04,191.3,123,8.61,9.6,4,2.59,3,False
3330,RI,28,510,328-8230,no,no,0,180.8,109,30.74,...,58,24.55,191.9,91,8.64,14.1,6,3.81,2,False
3331,CT,184,510,364-6381,yes,no,0,213.8,105,36.35,...,84,13.57,139.2,137,6.26,5.0,10,1.35,2,False
3332,TN,74,415,400-4344,no,yes,25,234.4,113,39.85,...,82,22.60,241.4,77,10.86,13.7,4,3.70,0,False

In [61]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3333 entries, 0 to 3332
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   state                   3333 non-null   object
 1   account length          3333 non-null   int64
 2   area code               3333 non-null   int64
 3   phone number            3333 non-null   object
 4   international plan      3333 non-null   object
 5   voice mail plan         3333 non-null   object
 6   number vmail messages   3333 non-null   int64
 7   total day minutes       3333 non-null   float64
 8   total day calls         3333 non-null   int64
 9   total day charge        3333 non-null   float64
 10  total eve minutes       3333 non-null   float64
 11  total eve calls         3333 non-null   int64
 12  total eve charge        3333 non-null   float64
 13  total night minutes     3333 non-null   float64
 14  total night calls       3333 non-null   int64
 15  total night charge      3333 non-null   float64
 16  total intl minutes      3333 non-null   float64
 17  total intl calls        3333 non-null   int64
 18  total intl charge       3333 non-null   float64
 19  customer service calls  3333 non-null   int64
 20  churn                   3333 non-null   bool
dtypes: bool(1), float64(8), int64(8), object(4)
memory usage: 524.2+ KB

In [62]:
df.memory_usage(deep = True)

Index                        128
state                     196647
account length             26664
area code                  26664
phone number              216645
international plan        196970
voice mail plan           197569
number vmail messages      26664
total day minutes          26664
total day calls            26664
total day charge           26664
total eve minutes          26664
total eve calls            26664
total eve charge           26664
total night minutes        26664
total night calls          26664
total night charge         26664
total intl minutes         26664
total intl calls           26664
total intl charge          26664
customer service calls     26664
churn                       3333
dtype: int64

In [63]:
# Change boolean to to int data type
df['churn'] =df['churn'].astype('int')

In [64]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3333 entries, 0 to 3332
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   state                   3333 non-null   object
 1   account length          3333 non-null   int64
 2   area code               3333 non-null   int64
 3   phone number            3333 non-null   object
 4   international plan      3333 non-null   object
 5   voice mail plan         3333 non-null   object
 6   number vmail messages   3333 non-null   int64
 7   total day minutes       3333 non-null   float64
 8   total day calls         3333 non-null   int64
 9   total day charge        3333 non-null   float64
 10  total eve minutes       3333 non-null   float64
 11  total eve calls         3333 non-null   int64
 12  total eve charge        3333 non-null   float64
 13  total night minutes     3333 non-null   float64
 14  total night calls       3333 non-null   int64
 15  total night charge      3333 non-null   float64
 16  total intl minutes      3333 non-null   float64
 17  total intl calls        3333 non-null   int64
 18  total intl charge       3333 non-null   float64
 19  customer service calls  3333 non-null   int64
 20  churn                   3333 non-null   int64
dtypes: float64(8), int64(9), object(4)
memory usage: 546.9+ KB

In [65]:
df.head()

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,0
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,0
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,0
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,0
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,0

In [66]:
df.columns

Index(['state', 'account length', 'area code', 'phone number',
       'international plan', 'voice mail plan', 'number vmail messages',
       'total day minutes', 'total day calls', 'total day charge',
       'total eve minutes', 'total eve calls', 'total eve charge',
       'total night minutes', 'total night calls', 'total night charge',
       'total intl minutes', 'total intl calls', 'total intl charge',
       'customer service calls', 'churn'],
      dtype='object')

RENAMING

In [67]:
Df = df.rename(columns={"account length":"account_length"})
Df

,state,account_length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,0
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,0
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,0
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,0
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,AZ,192,415,414-4276,no,yes,36,156.2,77,26.55,...,126,18.32,279.1,83,12.56,9.9,6,2.67,2,0
3329,WV,68,415,370-3271,no,no,0,231.1,57,39.29,...,55,13.04,191.3,123,8.61,9.6,4,2.59,3,0
3330,RI,28,510,328-8230,no,no,0,180.8,109,30.74,...,58,24.55,191.9,91,8.64,14.1,6,3.81,2,0
3331,CT,184,510,364-6381,yes,no,0,213.8,105,36.35,...,84,13.57,139.2,137,6.26,5.0,10,1.35,2,0
3332,TN,74,415,400-4344,no,yes,25,234.4,113,39.85,...,82,22.60,241.4,77,10.86,13.7,4,3.70,0,0

In [68]:
df.columns

Index(['state', 'account length', 'area code', 'phone number',
       'international plan', 'voice mail plan', 'number vmail messages',
       'total day minutes', 'total day calls', 'total day charge',
       'total eve minutes', 'total eve calls', 'total eve charge',
       'total night minutes', 'total night calls', 'total night charge',
       'total intl minutes', 'total intl calls', 'total intl charge',
       'customer service calls', 'churn'],
      dtype='object')

In [69]:
df.rename(columns={"account length":"account_length"},inplace=True)
df.columns

Index(['state', 'account_length', 'area code', 'phone number',
       'international plan', 'voice mail plan', 'number vmail messages',
       'total day minutes', 'total day calls', 'total day charge',
       'total eve minutes', 'total eve calls', 'total eve charge',
       'total night minutes', 'total night calls', 'total night charge',
       'total intl minutes', 'total intl calls', 'total intl charge',
       'customer service calls', 'churn'],
      dtype='object')

In [70]:
# Rename all the columns in one go
df.rename(str.upper,axis = 'columns').head()

,STATE,ACCOUNT_LENGTH,AREA CODE,PHONE NUMBER,INTERNATIONAL PLAN,VOICE MAIL PLAN,NUMBER VMAIL MESSAGES,TOTAL DAY MINUTES,TOTAL DAY CALLS,TOTAL DAY CHARGE,...,TOTAL EVE CALLS,TOTAL EVE CHARGE,TOTAL NIGHT MINUTES,TOTAL NIGHT CALLS,TOTAL NIGHT CHARGE,TOTAL INTL MINUTES,TOTAL INTL CALLS,TOTAL INTL CHARGE,CUSTOMER SERVICE CALLS,CHURN
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,0
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,0
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,0
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,0
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,0

In [71]:
df.rename(lambda x:x.replace(" ","_"),axis = "columns").head()

,state,account_length,area_code,phone_number,international_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,...,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,customer_service_calls,churn
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,0
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,0
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,0
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,0
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,0

In [72]:
df.rename(lambda x: x.title(),axis="columns").head()

,State,Account_Length,Area Code,Phone Number,International Plan,Voice Mail Plan,Number Vmail Messages,Total Day Minutes,Total Day Calls,Total Day Charge,...,Total Eve Calls,Total Eve Charge,Total Night Minutes,Total Night Calls,Total Night Charge,Total Intl Minutes,Total Intl Calls,Total Intl Charge,Customer Service Calls,Churn
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,0
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,0
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,0
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,0
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,0

In [73]:
df = pd.read_csv("/home/gokku/My codes/csv files/Churn.csv")
df.describe()

,account length,area code,number vmail messages,total day minutes,total day calls,total day charge,total eve minutes,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls
count,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000
mean,101.064806,437.182418,8.099010,179.775098,100.435644,30.562307,200.980348,100.114311,17.083540,200.872037,100.107711,9.039325,10.237294,4.479448,2.764581,1.562856
std,39.822106,42.371290,13.688365,54.467389,20.069084,9.259435,50.713844,19.922625,4.310668,50.573847,19.568609,2.275873,2.791840,2.461214,0.753773,1.315491
min,1.000000,408.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,23.200000,33.000000,1.040000,0.000000,0.000000,0.000000,0.000000
25%,74.000000,408.000000,0.000000,143.700000,87.000000,24.430000,166.600000,87.000000,14.160000,167.000000,87.000000,7.520000,8.500000,3.000000,2.300000,1.000000
50%,101.000000,415.000000,0.000000,179.400000,101.000000,30.500000,201.400000,100.000000,17.120000,201.200000,100.000000,9.050000,10.300000,4.000000,2.780000,1.000000
75%,127.000000,510.000000,20.000000,216.400000,114.000000,36.790000,235.300000,114.000000,20.000000,235.300000,113.000000,10.590000,12.100000,6.000000,3.270000,2.000000
max,243.000000,510.000000,51.000000,350.800000,165.000000,59.640000,363.700000,170.000000,30.910000,395.000000,175.000000,17.770000,20.000000,20.000000,5.400000,9.000000

SUMMARY STATISTICS

In [74]:
from pandas_summary import DataFrameSummary
dfs = DataFrameSummary(df)

In [75]:
dfs.columns_stats

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
counts,3333,3333,3333,3333,3333,3333,3333,3333,3333,3333,...,3333,3333,3333,3333,3333,3333,3333,3333,3333,3333
uniques,51,212,3,3333,2,2,46,1667,119,1667,...,123,1440,1591,120,933,162,21,162,10,2
missing,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
missing_perc,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%,...,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%
types,categorical,numeric,numeric,unique,bool,bool,numeric,numeric,numeric,numeric,...,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,bool

In [76]:
dfs["state"]

top                 WV: 106
counts                 3333
uniques                  51
missing                   0
missing_perc             0%
types           categorical
Name: state, dtype: object

In [77]:
dfs["account length"]

mean                         101.064806
std                           39.822106
variance                    1585.800121
min                                   1
max                                 243
mode                                105
5%                                 35.0
25%                                74.0
50%                               101.0
75%                               127.0
95%                               167.0
iqr                                53.0
kurtosis                      -0.107836
skewness                       0.096606
sum                              336849
mad                            31.82144
cv                             0.394025
zeros_num                             0
zeros_perc                           0%
deviating_of_mean                     7
deviating_of_mean_perc            0.21%
deviating_of_median                  31
deviating_of_median_perc          0.93%
top_correlations
counts                             3333
uniques                             212
missing                               0
missing_perc                         0%
types                           numeric
Name: account length, dtype: object

ESSENTIAL OPERATORS

In [78]:
import pandas as pd
df = pd.read_csv("/home/gokku/My codes/csv files/Churn.csv")
df["churn"] = df["churn"].astype("int")
df.head(20)

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,0
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,0
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,0
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,0
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,0
5,AL,118,510,391-8027,yes,no,0,223.4,98,37.98,...,101,18.75,203.9,118,9.18,6.3,6,1.70,0,0
6,MA,121,510,355-9993,no,yes,24,218.2,88,37.09,...,108,29.62,212.6,118,9.57,7.5,7,2.03,3,0
7,MO,147,415,329-9001,yes,no,0,157.0,79,26.69,...,94,8.76,211.8,96,9.53,7.1,6,1.92,0,0
8,LA,117,408,335-4719,no,no,0,184.5,97,31.37,...,80,29.89,215.8,90,9.71,8.7,4,2.35,1,0
9,WV,141,415,330-8173,yes,yes,37,258.6,84,43.96,...,111,18.87,326.4,97,14.69,11.2,5,3.02,0,0
10,IN,65,415,329-6603,no,no,0,129.1,137,21.95,...,83,19.42,208.8,111,9.40,12.7,6,3.43,4,1
11,RI,74,415,344-9403,no,no,0,187.7,127,31.91,...,148,13.89,196.0,94,8.82,9.1,5,2.46,0,0
12,IA,168,408,363-1107,no,no,0,128.8,96,21.90,...,71,8.92,141.1,128,6.35,11.2,2,3.02,1,0
13,MT,95,510,394-8006,no,no,0,156.6,88,26.62,...,75,21.05,192.3,115,8.65,12.3,5,3.32,3,0
14,IA,62,415,366-9238,no,no,0,120.7,70,20.52,...,76,26.11,203.0,99,9.14,13.1,6,3.54,4,0
15,NY,161,415,351-7269,no,no,0,332.9,67,56.59,...,97,27.01,160.6,128,7.23,5.4,9,1.46,4,1
16,ID,85,408,350-8884,no,yes,27,196.4,139,33.39,...,90,23.88,89.3,75,4.02,13.8,4,3.73,1,0
17,VT,93,510,386-2923,no,no,0,190.7,114,32.42,...,111,18.55,129.6,121,5.83,8.1,3,2.19,3,0
18,VA,76,510,356-2992,no,yes,33,189.7,66,32.25,...,65,18.09,165.7,108,7.46,10.0,5,2.70,1,0
19,TX,73,415,373-2782,no,no,0,224.4,90,38.15,...,88,13.56,192.8,74,8.68,13.0,2,3.51,1,0

In [79]:
# View unique values
df["state"].unique()

array(['KS', 'OH', 'NJ', 'OK', 'AL', 'MA', 'MO', 'LA', 'WV', 'IN', 'RI',
       'IA', 'MT', 'NY', 'ID', 'VT', 'VA', 'TX', 'FL', 'CO', 'AZ', 'SC',
       'NE', 'WY', 'HI', 'IL', 'NH', 'GA', 'AK', 'MD', 'AR', 'WI', 'OR',
       'MI', 'DE', 'UT', 'CA', 'MN', 'SD', 'NC', 'WA', 'NM', 'NV', 'DC',
       'KY', 'ME', 'MS', 'TN', 'PA', 'CT', 'ND'], dtype=object)

In [80]:
# View number of unique vslues
df["state"].nunique()

51

In [81]:
# number of occurence of each values
df['state'].value_counts()

WV    106
MN     84
NY     83
AL     80
WI     78
OH     78
OR     78
WY     77
VA     77
CT     74
MI     73
ID     73
VT     73
TX     72
UT     72
IN     71
MD     70
KS     70
NC     68
NJ     68
MT     68
CO     66
NV     66
WA     66
RI     65
MA     65
MS     65
AZ     64
FL     63
MO     63
NM     62
ME     62
ND     62
NE     61
OK     61
DE     61
SC     60
SD     60
KY     59
IL     58
NH     56
AR     55
GA     54
DC     54
HI     53
TN     53
AK     52
LA     51
PA     45
IA     44
CA     34
Name: state, dtype: int64

In [82]:
df['state'].value_counts(normalize = True) #proportion of each unique value

WV    0.031803
MN    0.025203
NY    0.024902
AL    0.024002
WI    0.023402
OH    0.023402
OR    0.023402
WY    0.023102
VA    0.023102
CT    0.022202
MI    0.021902
ID    0.021902
VT    0.021902
TX    0.021602
UT    0.021602
IN    0.021302
MD    0.021002
KS    0.021002
NC    0.020402
NJ    0.020402
MT    0.020402
CO    0.019802
NV    0.019802
WA    0.019802
RI    0.019502
MA    0.019502
MS    0.019502
AZ    0.019202
FL    0.018902
MO    0.018902
NM    0.018602
ME    0.018602
ND    0.018602
NE    0.018302
OK    0.018302
DE    0.018302
SC    0.018002
SD    0.018002
KY    0.017702
IL    0.017402
NH    0.016802
AR    0.016502
GA    0.016202
DC    0.016202
HI    0.015902
TN    0.015902
AK    0.015602
LA    0.015302
PA    0.013501
IA    0.013201
CA    0.010201
Name: state, dtype: float64

In [83]:
df['state'].value_counts(normalize = True).sum()

1.0000000000000002

In [84]:
# Get first "n" row ordes by a given coloumn
a = df.nlargest(5,"account length")
a

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
817,UT,243,510,355-9360,no,no,0,95.5,92,16.24,...,63,13.91,264.2,118,11.89,6.6,6,1.78,2,0
1408,NM,232,408,386-9177,no,no,0,165.6,104,28.15,...,115,16.65,118.3,77,5.32,11.8,3,3.19,1,0
1551,MI,225,415,371-2500,no,no,0,165.4,106,28.12,...,109,23.26,210.0,93,9.45,8.7,3,2.35,0,1
1751,WY,225,415,374-1213,no,no,0,182.7,142,31.06,...,63,20.95,218.0,103,9.81,8.8,2,2.38,1,0
416,DE,224,510,361-6563,yes,no,0,171.5,99,29.16,...,103,13.60,212.4,102,9.56,5.0,2,1.35,1,1

In [85]:
#Drop a coloumn
df.drop(columns="churn")

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,total eve minutes,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,AZ,192,415,414-4276,no,yes,36,156.2,77,26.55,215.5,126,18.32,279.1,83,12.56,9.9,6,2.67,2
3329,WV,68,415,370-3271,no,no,0,231.1,57,39.29,153.4,55,13.04,191.3,123,8.61,9.6,4,2.59,3
3330,RI,28,510,328-8230,no,no,0,180.8,109,30.74,288.8,58,24.55,191.9,91,8.64,14.1,6,3.81,2
3331,CT,184,510,364-6381,yes,no,0,213.8,105,36.35,159.6,84,13.57,139.2,137,6.26,5.0,10,1.35,2
3332,TN,74,415,400-4344,no,yes,25,234.4,113,39.85,265.9,82,22.60,241.4,77,10.86,13.7,4,3.70,0

In [86]:
df.head()

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,0
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,0
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,0
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,0
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,0

In [87]:
#To permanently drop the coloumn
df.drop(columns="churn",inplace=True)
df

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,total eve minutes,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,AZ,192,415,414-4276,no,yes,36,156.2,77,26.55,215.5,126,18.32,279.1,83,12.56,9.9,6,2.67,2
3329,WV,68,415,370-3271,no,no,0,231.1,57,39.29,153.4,55,13.04,191.3,123,8.61,9.6,4,2.59,3
3330,RI,28,510,328-8230,no,no,0,180.8,109,30.74,288.8,58,24.55,191.9,91,8.64,14.1,6,3.81,2
3331,CT,184,510,364-6381,yes,no,0,213.8,105,36.35,159.6,84,13.57,139.2,137,6.26,5.0,10,1.35,2
3332,TN,74,415,400-4344,no,yes,25,234.4,113,39.85,265.9,82,22.60,241.4,77,10.86,13.7,4,3.70,0

In [88]:
#Drop records by index or rows
df.drop(index=[0,1,2])

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,total eve minutes,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3
5,AL,118,510,391-8027,yes,no,0,223.4,98,37.98,220.6,101,18.75,203.9,118,9.18,6.3,6,1.70,0
6,MA,121,510,355-9993,no,yes,24,218.2,88,37.09,348.5,108,29.62,212.6,118,9.57,7.5,7,2.03,3
7,MO,147,415,329-9001,yes,no,0,157.0,79,26.69,103.1,94,8.76,211.8,96,9.53,7.1,6,1.92,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,AZ,192,415,414-4276,no,yes,36,156.2,77,26.55,215.5,126,18.32,279.1,83,12.56,9.9,6,2.67,2
3329,WV,68,415,370-3271,no,no,0,231.1,57,39.29,153.4,55,13.04,191.3,123,8.61,9.6,4,2.59,3
3330,RI,28,510,328-8230,no,no,0,180.8,109,30.74,288.8,58,24.55,191.9,91,8.64,14.1,6,3.81,2
3331,CT,184,510,364-6381,yes,no,0,213.8,105,36.35,159.6,84,13.57,139.2,137,6.26,5.0,10,1.35,2
3332,TN,74,415,400-4344,no,yes,25,234.4,113,39.85,265.9,82,22.60,241.4,77,10.86,13.7,4,3.70,0

In [89]:
df.T #transposing the dataframe

,0,1,2,3,4,5,6,7,8,9,...,3323,3324,3325,3326,3327,3328,3329,3330,3331,3332
state,KS,OH,NJ,OH,OK,AL,MA,MO,LA,WV,...,IN,WV,OH,OH,SC,AZ,WV,RI,CT,TN
account length,128,107,137,84,75,118,121,147,117,141,...,117,159,78,96,79,192,68,28,184,74
area code,415,415,415,408,415,510,510,415,408,415,...,415,415,408,415,415,415,415,510,510,415
phone number,382-4657,371-7191,358-1921,375-9999,330-6626,391-8027,355-9993,329-9001,335-4719,330-8173,...,362-5899,377-1164,368-8555,347-6812,348-3830,414-4276,370-3271,328-8230,364-6381,400-4344
international plan,no,no,no,yes,yes,yes,no,yes,no,yes,...,no,no,no,no,no,no,no,no,yes,no
voice mail plan,yes,yes,no,no,no,no,yes,no,no,yes,...,no,no,no,no,no,yes,no,no,no,yes
number vmail messages,25,26,0,0,0,0,24,0,0,37,...,0,0,0,0,0,36,0,0,0,25
total day minutes,265.1,161.6,243.4,299.4,166.7,223.4,218.2,157.0,184.5,258.6,...,118.4,169.8,193.4,106.6,134.7,156.2,231.1,180.8,213.8,234.4
total day calls,110,123,114,71,113,98,88,79,97,84,...,126,114,99,128,98,77,57,109,105,113
total day charge,45.07,27.47,41.38,50.9,28.34,37.98,37.09,26.69,31.37,43.96,...,20.13,28.87,32.88,18.12,22.9,26.55,39.29,30.74,36.35,39.85
total eve minutes,197.4,195.5,121.2,61.9,148.3,220.6,348.5,103.1,351.6,222.0,...,249.3,197.7,116.9,284.8,189.7,215.5,153.4,288.8,159.6,265.9
total eve calls,99,103,110,88,122,101,108,94,80,111,...,97,105,88,87,68,126,55,58,84,82
total eve charge,16.78,16.62,10.3,5.26,12.61,18.75,29.62,8.76,29.89,18.87,...,21.19,16.8,9.94,24.21,16.12,18.32,13.04,24.55,13.57,22.6
total night minutes,244.7,254.4,162.6,196.9,186.9,203.9,212.6,211.8,215.8,326.4,...,227.0,193.7,243.3,178.9,221.4,279.1,191.3,191.9,139.2,241.4
total night calls,91,103,104,89,121,118,118,96,90,97,...,56,82,109,92,128,83,123,91,137,77
total night charge,11.01,11.45,7.32,8.86,8.41,9.18,9.57,9.53,9.71,14.69,...,10.22,8.72,10.95,8.05,9.96,12.56,8.61,8.64,6.26,10.86
total intl minutes,10.0,13.7,12.2,6.6,10.1,6.3,7.5,7.1,8.7,11.2,...,13.6,11.6,9.3,14.9,11.8,9.9,9.6,14.1,5.0,13.7
total intl calls,3,3,5,7,3,6,7,6,4,5,...,3,4,4,7,5,6,4,6,10,4
total intl charge,2.7,3.7,3.29,1.78,2.73,1.7,2.03,1.92,2.35,3.02,...,3.67,3.13,2.51,4.02,3.19,2.67,2.59,3.81,1.35,3.7
customer service calls,1,1,0,2,3,0,3,0,1,0,...,5,1,2,1,2,2,3,2,2,0

Since transposing the DataFrame the column will have mix datatype therefore the dtype of the mixed datatype columns would be OBJECT type

In [90]:
df.T.info()

<class 'pandas.core.frame.DataFrame'>
Index: 20 entries, state to customer service calls
Columns: 3333 entries, 0 to 3332
dtypes: object(3333)
memory usage: 521.5+ KB

DISPLAY OPTIONS


Pandas provides various control options, used to control how the dataframes are handled.

Some very useful options:

1. _Rows to display: `pd.options.display.max_rows = 100`

   Another way: `pd.set_option("display.max_rows", 5)`
   
2. _Columns to display: `pd.options.display.max_columns`
3. _Col width: `pd.options.display.max_colwidth`
4. _Precision: `pd.options.display.precision = 15`_
5. _Format of float: `pd.options.display.float_format = '{:.2f}%'.format`

In [103]:
# Reset
pd.reset_option('display.max_rows')
pd.reset_option('display.max_columns')
pd.reset_option('display.precision')
pd.reset_option('display.float_format')

In [92]:
arr = np.random.randint(1,100,(80,25))
df = pd.DataFrame(arr)
df

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
0,42,46,27,90,82,83,27,88,22,21,...,54,49,59,72,7,64,93,65,48,34
1,68,5,78,99,82,41,38,69,80,87,...,21,17,27,67,41,81,28,40,19,39
2,95,3,14,9,71,12,13,5,76,64,...,91,46,71,15,11,66,16,20,65,56
3,42,51,17,52,23,20,48,37,19,9,...,87,59,17,71,47,47,3,87,62,38
4,90,53,58,25,45,67,51,36,24,31,...,40,15,28,1,31,78,47,56,54,60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,11,55,72,82,62,42,17,17,50,17,...,53,27,47,86,1,82,50,98,15,96
76,54,74,53,17,56,51,20,94,77,43,...,79,32,56,98,49,69,92,91,14,8
77,73,9,90,94,67,13,17,75,27,21,...,84,3,42,85,14,6,25,14,82,19
78,81,42,8,10,26,62,2,40,86,71,...,89,38,16,97,76,75,16,68,28,72
79,28,69,98,44,86,14,47,64,35,7,...,17,7,73,3,21,54,21,79,22,99

In [93]:
# options
print(pd.options.display.max_rows)
print(pd.options.display.max_columns)

60
20

Let's change the max_rows setting.

__CAVEAT__: The `max_rows` setting only displays more rows, if the setting is greater than the number of rows in the DataFrame.

In [96]:
# Does not change display to 30 rows. Only works if set more than number of rows in dataframe
pd.set_option("display.max_rows",30)
df

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
0,42,46,27,90,82,83,27,88,22,21,...,54,49,59,72,7,64,93,65,48,34
1,68,5,78,99,82,41,38,69,80,87,...,21,17,27,67,41,81,28,40,19,39
2,95,3,14,9,71,12,13,5,76,64,...,91,46,71,15,11,66,16,20,65,56
3,42,51,17,52,23,20,48,37,19,9,...,87,59,17,71,47,47,3,87,62,38
4,90,53,58,25,45,67,51,36,24,31,...,40,15,28,1,31,78,47,56,54,60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,11,55,72,82,62,42,17,17,50,17,...,53,27,47,86,1,82,50,98,15,96
76,54,74,53,17,56,51,20,94,77,43,...,79,32,56,98,49,69,92,91,14,8
77,73,9,90,94,67,13,17,75,27,21,...,84,3,42,85,14,6,25,14,82,19
78,81,42,8,10,26,62,2,40,86,71,...,89,38,16,97,76,75,16,68,28,72
79,28,69,98,44,86,14,47,64,35,7,...,17,7,73,3,21,54,21,79,22,99

In [97]:
# set the value to more than no. of row of row s it works !
pd.set_option("display.max_rows",100)
pd.set_option("display.max_columns",30)
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24
0,42,46,27,90,82,83,27,88,22,21,64,85,87,48,63,54,49,59,72,7,64,93,65,48,34
1,68,5,78,99,82,41,38,69,80,87,90,83,37,50,77,21,17,27,67,41,81,28,40,19,39
2,95,3,14,9,71,12,13,5,76,64,91,82,82,73,36,91,46,71,15,11,66,16,20,65,56
3,42,51,17,52,23,20,48,37,19,9,30,38,38,96,37,87,59,17,71,47,47,3,87,62,38
4,90,53,58,25,45,67,51,36,24,31,10,10,60,32,56,40,15,28,1,31,78,47,56,54,60
5,94,64,60,76,96,3,50,67,47,32,9,18,91,14,2,85,37,1,33,1,36,49,13,74,36
6,11,56,7,32,5,24,17,77,4,37,26,99,14,58,62,75,56,93,10,25,79,22,23,62,7
7,1,55,94,6,38,5,20,62,34,80,25,23,68,92,32,51,78,57,89,55,38,87,24,41,60
8,97,79,5,17,45,88,29,2,79,94,92,85,76,62,29,25,34,37,44,98,40,36,42,6,36
9,28,24,33,87,98,34,82,98,75,48,97,12,56,47,12,9,40,70,15,97,84,87,47,68,80
10,95,37,57,45,48,17,30,94,20,42,5,97,48,46,14,74,81,29,46,92,33,14,28,45,1
11,50,67,21,25,31,15,43,41,26,33,25,69,48,6,11,25,20,16,13,68,19,73,41,95,90
12,20,5,56,92,38,1,67,63,57,67,62,61,55,28,67,31,90,47,10,93,40,82,1,19,91
13,85,99,57,1,47,40,44,68,54,85,64,67,73,86,17,55,94,34,58,63,96,69,21,73,92
14,21,46,50,59,51,79,17,20,50,15,97,87,9,19,33,27,8,11,14,49,21,84,7,10,82
15,25,53,99,31,32,40,67,26,50,33,41,63,47,84,78,98,11,62,95,82,57,40,86,29,64
16,89,26,92,54,53,97,39,37,41,98,52,78,89,9,48,40,64,38,91,9,51,89,3,16,93
17,73,74,65,88,79,66,6,83,14,40,52,33,32,83,9,92,9,69,80,89,73,73,8,5,63
18,62,9,74,30,89,50,50,13,13,96,73,50,82,21,86,37,11,93,27,90,55,38,66,76,21
19,12,70,45,26,60,71,42,76,49,76,73,99,37,19,94,75,58,10,36,14,46,66,23,17,78
20,91,13,78,83,20,6,26,80,29,65,26,67,50,24,36,18,60,7,44,29,61,58,32,48,68
21,17,9,77,36,60,78,69,85,56,61,67,73,22,43,44,1,23,1,16,40,88,72,11,71,90
22,43,64,65,84,85,99,75,87,71,56,14,63,76,98,15,38,32,21,86,76,72,6,76,13,99
23,4,44,11,7,39,86,10,36,60,79,85,23,88,98,88,43,1,57,84,48,81,55,4,61,63
24,59,37,56,57,75,54,88,72,41,85,92,13,16,59,97,41,28,3,83,12,71,3,41,56,81
25,70,48,98,36,76,71,63,84,64,82,77,96,40,14,30,54,56,57,91,16,85,82,36,17,12
26,71,65,11,76,11,6,70,67,37,89,45,72,44,47,45,66,16,65,71,74,2,95,69,97,94
27,47,63,87,79,97,93,73,96,74,4,2,42,43,67,3,29,64,97,29,48,13,18,36,39,54
28,67,52,65,21,85,15,13,72,36,91,24,73,43,49,68,43,32,71,36,3,30,68,89,95,32
29,75,6,1,28,90,77,13,73,27,11,14,96,64,63,17,67,64,69,71,44,76,61,44,91,87
30,35,24,88,89,48,85,76,41,81,66,71,57,30,54,78,98,63,47,12,90,94,40,42,52,44
31,7,64,70,22,14,96,29,1,86,7,9,77,47,91,8,52,42,44,85,11,86,46,80,31,40
32,85,74,73,52,92,70,36,69,10,89,66,89,42,20,59,53,84,80,18,3,47,21,1,21,80
33,39,48,6,61,23,99,33,19,44,54,47,92,56,3,22,67,42,25,54,2,2,28,85,48,66
34,18,81,29,98,43,82,20,80,46,60,12,37,97,36,62,37,2,38,14,9,76,40,44,57,98
35,33,23,55,62,58,72,98,75,50,41,22,73,34,90,57,60,92,85,73,29,24,20,94,48,33
36,48,84,49,3,48,62,42,2,9,83,20,53,22,11,28,86,6,35,21,89,5,70,41,48,87
37,24,72,25,28,46,75,90,76,98,52,20,15,93,11,98,41,41,29,90,84,3,67,80,6,70
38,2,92,73,83,48,60,57,69,91,13,17,46,67,31,78,77,12,46,15,51,36,79,54,41,31
39,26,85,62,17,47,33,75,29,18,80,88,88,55,68,65,99,43,82,65,48,64,75,61,38,3
40,72,72,22,29,27,76,86,41,75,45,26,40,43,82,55,34,62,76,70,82,70,51,56,9,4
41,62,46,26,78,59,28,17,80,69,69,97,86,84,76,64,5,93,32,53,51,79,5,86,39,2
42,9,91,52,34,85,10,92,12,55,23,73,56,15,82,81,1,66,33,19,58,3,93,3,47,88
43,39,97,7,28,76,66,30,97,2,57,46,69,21,76,31,12,27,13,70,18,37,62,24,1,81
44,52,72,90,20,73,36,22,76,89,93,34,91,40,15,16,30,88,41,47,91,43,57,80,83,83
45,90,10,84,81,70,64,78,54,58,77,51,44,64,43,25,26,82,42,37,16,23,94,4,47,73
46,38,61,42,62,97,16,94,41,92,57,60,35,5,59,37,96,30,85,3,26,53,7,72,84,24
47,99,3,72,73,19,18,26,60,31,54,77,4,85,34,12,23,76,82,83,2,16,89,58,37,67
48,76,61,27,73,72,23,78,43,15,30,28,58,96,87,69,69,6,36,64,52,40,14,8,25,31
49,80,91,30,5,99,42,21,12,12,92,96,19,63,59,87,5,93,79,78,79,4,72,49,94,76
50,61,21,50,39,18,3,88,81,42,55,27,54,69,86,38,11,43,41,32,49,52,69,99,15,23
51,27,20,62,98,94,46,7,33,12,4,59,36,86,60,68,94,8,61,50,47,28,71,79,23,54
52,73,72,21,97,85,91,85,53,31,4,35,34,49,82,22,63,3,16,10,38,29,73,98,60,2
53,78,43,80,36,49,98,16,7,12,89,38,19,27,92,43,39,46,83,27,49,91,62,34,46,61
54,21,3,2,24,7,4,96,8,71,88,29,23,50,29,38,14,96,71,17,60,38,90,58,21,74
55,23,19,99,17,60,47,90,36,3,91,52,14,42,41,26,48,95,48,96,25,96,82,43,14,54
56,44,2,86,18,34,10,50,78,61,6,52,50,35,12,99,25,65,30,32,60,46,64,14,2,19
57,52,3,50,7,30,63,85,23,48,85,46,74,18,37,12,3,79,26,27,72,63,52,26,37,94
58,65,4,69,22,67,70,69,83,73,50,12,19,25,55,22,53,91,90,30,23,52,73,50,18,63
59,37,54,76,61,40,52,68,3,63,19,7,5,76,81,43,21,33,38,82,7,61,19,29,42,34
60,76,6,42,75,97,85,39,86,1,12,90,49,68,89,44,37,94,57,76,51,22,91,25,33,5
61,22,94,82,97,67,66,3,10,70,72,46,9,28,77,70,57,38,62,61,62,28,39,7,5,12
62,32,74,28,21,66,20,23,10,89,42,46,94,92,13,52,23,5,39,76,41,58,96,37,11,23
63,11,75,67,77,12,2,46,24,79,9,42,43,61,97,75,32,17,66,97,73,8,24,39,73,87
64,7,91,65,50,89,21,39,30,86,58,73,74,85,81,42,18,10,2,25,24,18,40,19,97,42
65,62,61,28,73,31,68,44,61,24,63,55,13,10,12,30,77,65,77,22,22,5,58,32,4,32
66,75,88,98,12,42,95,85,99,55,48,96,88,58,4,4,20,56,25,35,91,6,5,27,27,82
67,78,82,71,80,26,4,89,91,16,78,28,18,87,50,43,68,34,64,75,71,80,99,92,49,45
68,98,11,11,18,97,69,50,58,86,88,8,84,79,54,73,31,52,67,74,92,54,46,93,38,63
69,11,40,51,16,33,50,41,1,95,8,95,98,51,41,59,8,4,33,87,63,63,92,30,93,83
70,74,19,45,93,63,62,46,5,40,53,31,26,44,26,47,61,91,31,37,12,28,80,74,65,83
71,16,52,4,56,70,95,96,19,84,15,89,98,9,92,75,65,79,34,62,3,64,46,84,58,48
72,59,81,7,56,99,82,5,3,16,1,54,71,1,22,11,83,29,94,12,28,22,58,21,78,91
73,25,19,78,24,61,4,96,34,89,57,67,30,29,19,73,95,6,3,28,4,60,43,74,61,83
74,29,4,79,6,89,85,35,46,28,30,40,95,22,57,57,12,17,89,76,4,76,5,84,15,28
75,11,55,72,82,62,42,17,17,50,17,12,9,90,93,64,53,27,47,86,1,82,50,98,15,96
76,54,74,53,17,56,51,20,94,77,43,39,75,14,44,80,79,32,56,98,49,69,92,91,14,8
77,73,9,90,94,67,13,17,75,27,21,99,59,70,76,62,84,3,42,85,14,6,25,14,82,19
78,81,42,8,10,26,62,2,40,86,71,19,83,82,41,95,89,38,16,97,76,75,16,68,28,72
79,28,69,98,44,86,14,47,64,35,7,12,98,75,8,87,17,7,73,3,21,54,21,79,22,99

Control presicion

In [101]:
arr = np.random.rand(10)
df = pd.DataFrame(arr)
df.head()

          0
0  0.228629
1  0.995717
2  0.910308
3  0.310585
4  0.825132

In [106]:
pd.set_option('display.precision',3)
df.head()

       0
0  0.229
1  0.996
2  0.910
3  0.311
4  0.825

Float format

In [107]:
pd.set_option('display.float_format', '{:.2f}%'.format)
df.head()

      0
0 0.23%
1 1.00%
2 0.91%
3 0.31%
4 0.83%